/* * {
    border: 1px solid rgb(255, 8, 0);
} */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
}

.heading {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 25%;
    width: 58%;
    transform: translateX(70%);
}

.heading h2 {
    color: rgb(255, 255, 255);
    font-size: 70px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.heading h3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

#particles-js {
    background: url('https://images.hdqwalls.com/download/vapor-retro-nv-5120x2880.jpg');
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    filter: contrast(110%);
}

.navbar {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border: 2px solid;
    border-radius: 50px;
    border-color: antiquewhite;
    z-index: 2;
}

.navbar ul {
    list-style: none;
    padding: 5px;
    margin: 0px;
}

.navbar li {
    display: inline-block;
    margin: 0 5px;
}

.navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

.mugshot {
    /* position: absolute; */
    max-height: 380px;
    max-width: 380px;
    border-radius: 180px;
    filter: contrast(70%);
}

.links {
    display: flex;
    flex-direction: column;
    position: absolute;
     top: 50%;
    transform: translate(0%, -60%);

  }

  .links img {
    max-width: 65px;
    padding: 5px;
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .links img:hover {
    transform: translateX(20px); /* Adjust this value to move the icons to the right */
  }

/* .arrow {
    position: absolute;
    bottom: 0px;
    right: 20px;
    font-size: 100px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 0px;
    color: rgba(250, 235, 215, 0.493);
    transform: translateX(-980%)
}

.arrow:hover{
    color: antiquewhite;
} */

 .flex{
        /* display: flex; */
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 25%;
        width: 50%;
        transform: translateX(55%);
 }


 .section2 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.521), rgba(202, 26, 225, 0.75)), url('https://images.hdqwalls.com/download/roadtrip-mix-casette-5k-m0-5120x2880.jpg');
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    filter: contrast(110%);
}

.section2 h2 {
    margin: 0px;
    text-align: center;
    font-size: 50px;
}


.section3 {
    background: url('https://images.hdqwalls.com/download/play-this-casette-retrowave-gp-3840x2400.jpg');
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    filter: contrast(110%);
}

.section3 h2 {
    margin: 0px;
}

.section4 {
    background: url('https://images.hdqwalls.com/download/delorean-synthwave-4k-d9-3840x2400.jpg');
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    filter: contrast(110%);
}

.section4 h2 {
    margin: 0px;
}

.section5 {
    background: url('https://images.hdqwalls.com/download/classic-synthwave-80s-8s-3840x2400.jpg');
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    filter: contrast(110%);
}

.section5 h2 {
    margin: 0px;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 47%;
    z-index: 99;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 500;
  }

  #myBtn:hover {
    text-decoration: underline;
  }

.aboutme{
    width: 80%;
    margin: auto;
    color: rgb(255, 253, 224);
    font-weight: 400;
    filter: contrast(150%);
}

.aboutmecard {
    width: 70%;
    margin-top: 90px;
    right: 13%;
    padding: 20px;
    background: rgba(41, 41, 41, 0.503);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.045);
    border-radius: 25px;
    position: fixed;
    filter: contrast(200%);
  }


  /* Play with these later for moblie funtionality
  start here and work screen size up */
/* @media screen and (max-width: 425px) {

    .heading {
      top: 15%;
      width: 90%;
      transform: translateX(5%);
    }

    .navbar {
      top: 10px;
      padding: 5px;
    }

    .navbar li {
      margin: 0 3px;
    }

    .mugshot {
      max-height: 280px;
      max-width: 280px;
    }

    .links  {
        flex-direction: row;
      }

    .aboutmecard {
      width: 80%;
      right: 4.5%;
      margin: 5px;
    }

    .heading h2 {
        display: none;
      }

      .heading h3 {
       display: none;
      }

      .section2 h2,
      .section3 h2,
      .section4 h2,
      .section5 h2 {
        font-size: 36px;
      }

      .aboutme {
        font-size: 16px;
      }

      #myBtn {
        font-size: 16px;
        padding: 10px;
      }

      #particles-js,
      .section2,
      .section3,
      .section4,
      .section5 {
        background-position: center;
      }
  } */

.form-input {
  background-color: aliceblue;
  border-radius: 25px;
  margin: auto;
  max-width: 800px;
  margin-top: 150px;
  padding-bottom: 50px;
  padding-top: 5px;
}

.formcarry-container * {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: right;

  /* colors */
  --color-blue: #2552d0;
  --color-light-blue: #3266e3;
  --color-gray: #e5e7eb;
  --color-dark-gray: #9da3ae;
  --color-pink: #edadd2;
}

.formcarry-container {
  /* container */
  --c-width: 50%;
  --c-max-width: 500px;

  width: var(--c-width);
  max-width: var(--c-max-width);
  display: block;
  margin: 10vh auto 0 auto;
}

.formcarry-form label {
  display: block;
  padding: 12px 0 2px 0;
  letter-spacing: -0.2px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

.formcarry-form input,
.formcarry-form textarea {
  font-size: 16px;
  display: block;
  width: 125%;
  padding: 10px;
  background-color: var(--color-gray);
  border: 1px solid rgba(177, 177, 177, 0.767);
  outline: none;
  border-radius: 8px;
  color: var(--color-dark-gray);
}

.formcarry-form input:focus,
.formcarry-form textarea:focus {
  background-color: #fff;
  color: var(--color-dark-gray);
}

.formcarry-form input:focus:required:invalid {
  border-color: var(--color-pink);
  background-color: #fff;
}

.formcarry-form button {
  display: block;
  margin-top: 12px;
  width: 100%;
  padding: 12px 20px;
  border-radius: 8px;
  border-color: transparent;
  background-color: var(--color-blue);
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  align-items: center;

  transition: 300ms all;
}

.formcarry-form button:hover {
  background-color: var(--color-light-blue);
}

.formcarry-alert {
  padding: 12px;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
  display: none;
}

.formcarry-alert.visible {
  display: block;
}

.formcarry-alert.success {
  background: #69cf9d;
}

.formcarry-alert.error {
  background: #de524c;
}

.formcarry-container p {
  font-size: 35px;
  margin: 0px;
  font-family: "Inter", sans-serif;
}

.formcarry-form label,
.formcarry-form input,
.formcarry-form textarea,
.formcarry-form button {
  width: 125%; /* Make the form elements take up the full container width */
  max-width: 400px; /* Set a max-width for the form elements to avoid stretching */
}
